<a href="https://colab.research.google.com/github/junaidurrehmankhan/PGD_DS_Class_5_6_assignment/blob/main/List_assignment_Junaid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**1- Basic List Operations**

In [ ]:
fruits = ["apple" , "Banana" , "orange" , "grapes" , "kiwi"]
print (type(fruits))

<class 'list'>

**a- Add "pear" to the end of the list**

In [ ]:
fruits = ["apple" , "Banana" , "orange" , "grapes" , "kiwi"]
fruits.append("pear")
print (fruits)

['apple', 'Banana', 'orange', 'grapes', 'kiwi', 'pear']

**b- Insert "mango" at the second position in the list**

In [ ]:
fruits = ["apple" , "Banana" , "orange" , "grapes" , "kiwi"]
fruits.insert(1,"mango")
print (fruits)

['apple', 'mango', 'Banana', 'orange', 'grapes', 'kiwi']

**c- Remove "orange" from the list**

In [ ]:
fruits = ["apple" , "Banana" , "orange" , "grapes" , "kiwi"]
fruits.remove("orange")
print (fruits)

['apple', 'Banana', 'grapes', 'kiwi']

#**2- Slicing and Indexing**

**a- Create a list named `numbers` containing the integers from 0 to 9**

In [ ]:
numbers = list(range(0,9))
print (numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

**b- Print the element at index 3**

In [ ]:
numbers = list(range(0,9))
print (numbers[3])

3

**c- Print a sublist containing the elements
from index 2 to 6 (inclusive)**

In [ ]:
numbers = list(range(0,9))
print (numbers[2:7])

[2, 3, 4, 5, 6]

**d- Print the last three elements using negative indexing**

In [ ]:
numbers = list(range(0,9))
print (numbers[-3:])

[6, 7, 8]

#**3- List Comprehension**

**a- Create a list named `squares` using a list comprehension that contains the squares of numbers from 1 to 10**

In [ ]:
squares = [x**2 for x in range(1, 11)]
print (squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**b-Create a new list named `even_squares` using a list comprehension that contains the squares of even numbers from the `squares` list**

In [ ]:
even_squares = [x for x in squares if x % 2 == 0]
print (even_squares)

[4, 16, 36, 64, 100]

#**4- List Manipulation**

**a- Create a list named `colors` containing the following items: "red", "green", "blue", "yellow", "purple".**

In [ ]:
color = ["red", "green", "blue", "yellow", "purple"]
print (color)

['red', 'green', 'blue', 'yellow', 'purple']

**b- Swap the first and last elements of the list**

In [ ]:
color = ["red", "green", "blue", "yellow", "purple"]
color[0], color[-1] = color[-1], color[0]
print (color)

['purple', 'green', 'blue', 'yellow', 'red']

**c- Reverse the order of the list**

In [ ]:
color = ["red", "green", "blue", "yellow", "purple"]
color[0], color[-1] = color[-1], color[0]
print (color)
color.reverse()
print (color)

['purple', 'green', 'blue', 'yellow', 'red']
['red', 'yellow', 'blue', 'green', 'purple']

**d- Remove the second and third elements from the list**

In [ ]:
color = ["red", "green", "blue", "yellow", "purple"]
del color[1:3]
print (color)

['red', 'yellow', 'purple']

#**5- Advanced Slicing**

**a- Create a list named `letters` containing the letters from 'a' to 'j'**

In [ ]:
letters = ["abcdefghij"]
print (letters)

['abcdefghij']

In [ ]:
[i for i in "abcdefghij"]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**b- Using slicing, create a new list `first_half` containing the first half of the `letters` list**

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
first_half = letters[:len(letters)//2]
print (first_half)

['a', 'b', 'c', 'd', 'e']

**c- Using slicing, create a new list `last_three` containing the last three elements of the `letters` list**

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
last_three = letters[-3:]
print (last_three)

['h', 'i', 'j']

#**6- Nested Lists**

a- Create a nested list named `matrix` with the following rows:
   - [1, 2, 3]
   - [4, 5, 6]
   - [7, 8, 9]

In [ ]:
matrix = [
[1, 2, 3],
[4, 5, 6],
[7, 8, 9],
]
print (matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

**b- Print the element in the second row and third column**

In [ ]:
matrix = [
[1, 2, 3],
[4, 5, 6],
[7, 8, 9],
]
element = matrix[1][2]
print (element)

6

**c- Use nested indexing to change the value at the second row and first column to 0**

In [ ]:
matrix = [
[1, 2, 3],
[4, 5, 6],
[7, 8, 9],
]
matrix[1][0] = 0
print (matrix)

[[1, 2, 3], [0, 5, 6], [7, 8, 9]]